<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="icon"
      type="image/png"
      href="../static/img/ChatGPT Image 2 de out. de 2025, 12_19_38.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <title>Orlando</title>
  </head>
  <body>
    <i class="bi bi-list-nested menu-mobile"></i>

    <aside id="header">
      <section class="profile">
        <img src="../static/img/orlandoternoazul.png" alt="Foto Orlando" />
        <h1>Orlando Filho</h1>
        <div class="social-links mt-4 text-center">
          <a target="_blank" href="www.linkedin.com/in/orlando-filho-bb99a522b">
            <i class="bi bi-linkedin"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/orlando_filhoo/">
            <i class="bi bi-instagram"></i>
          </a>
          <a target="_blank" href="https://wa.link/1ljmxw">
            <i class="bi bi-whatsapp"></i>
          </a>
          <a target="_blank" href="https://github.com/OrlandoFilhoo">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </section>

      <section>
        <nav id="navbar" class="nav-menu">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#inicio"
                ><i class="bi bi-house"></i> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sobre"
                ><i class="bi bi-person"></i> About Me</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#habilidades"
                ><i class="bi-lightning-charge"></i> Skills</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#curriculum"
                ><i class="bi bi-file-earmark-person"></i> Curriculum</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects"
                ><i class="bi bi-card-checklist"></i> Projects</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#talktome"
                ><i class="bi bi-telephone-forward"></i> Talk To Me</a
              >
            </li>
          </ul>
        </nav>
      </section>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div
          class="col-md-5 d-flex justify-content-center align-items-center flex-column"
        >
          <h2 class="text-white text-shadow">Orlando Filho</h2>
          <span id="subtitle" class="text-white text-shadow"
            >Full Stack Developer</span
          >
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex align-items-center">
            <i class="bi bi-arrow-down-circle"></i>
            <a href="#sobre">Arraste para mais</a>
          </div>
        </div>
      </section>

      <section class="container mt-5" id="sobre">
        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="pt-3" id="skills-title">Aboult Me</h2>
            <p>
              - Front / Back-end Developer<br />- Graduated in Web
              Development<br />
              - Computer Technician<br />
              - Junior Programmer<br />
              - JavaScript | HTML | CSS
            </p>
          </div>
        </div>

        <div class="row mt-4 align-items-start">
          <div class="col-md-4">
            <img
              id="imgazul"
              class="img-fluid shadow"
              src="../static/img/OrlandoPhoto2.PNG"
              alt="Foto do Orlando"
              data-anime="left"
            />
          </div>

          <div class="col-md-8" data-anime="right">
            <h3>Lifestyle</h3>
            <p>
              I build a life driven by vision, discipline, and constant growth.
              Between technology, business, and knowledge, I pursue excellence
              as a software developer and entrepreneur, turning ideas into
              results and ambition into legacy.
            </p>

            <div class="row mt-3 mb-3">
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Birthday: <span class="fw-lighter">July 3, 2004</span>
                  </li>
                  <li class="list-group-item">
                    Age: <span class="fw-lighter">22 years old</span>
                  </li>
                  <li class="list-group-item">
                    City: <span class="fw-lighter">Garanhuns</span>
                  </li>
                  <li class="list-group-item">
                    State: <span class="fw-lighter">Pernambuco</span>
                  </li>
                </ul>
              </div>

              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Hobby: <span class="fw-lighter">Formula 1</span>
                  </li>
                  <li class="list-group-item">
                    Work:
                    <a
                      href="https://garanhunstour.com.br/"
                      target="_blank"
                      class="fw-lighter text-decoration-none link-dark"
                      >My Conpany - Garanhuns Tour</a
                    >
                  </li>
                  <li class="list-group-item">
                    Experience: <span class="fw-lighter">6 years</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-5 section-bg" id="habilidades">
        <div class="container pb-5">
          <h4 class="descri-1 mt-4 pt-5" id="skills-title">Skills</h4>
          <p id="p-title">Constantly progressing</p>

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">HTML</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 95%">95%</div>
              </div>
              <p class="mt-3 mb-0">CSS</p>
              <div
                class="progress"
                data-anime="left"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 92%">92%</div>
              </div>
              <p class="mt-3 mb-0">Java Script</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 86%">86%</div>
              </div>
              <p class="mt-3 mb-0">Python</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 83%">83%</div>
              </div>
              <p class="mt-3 mb-0">Java</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 75%">75%</div>
              </div>
            </div>

            <div class="col-md-6">
              <p class="mt-3 mb-0">Git</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 84%">84%</div>
              </div>
              <p class="mt-3 mb-0">Flask</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 78%">78%</div>
              </div>
              <p class="mt-3 mb-0">NodeJs</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 74%">74%</div>
              </div>
              <p class="mt-3 mb-0">NoSQL</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 80%">80%</div>
              </div>
              <p class="mt-3 mb-0">SQL</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 85%">85%</div>
              </div>
            </div>
          </div>

          <hr class="w-50 me-auto ms-auto mt-5" />

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Teamwork</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 100%">100%</div>
              </div>
              <p class="mt-3 mb-0">Proactivity</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 95%">95%</div>
              </div>
              <p class="mt-3 mb-0">Communication</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 100%">100%</div>
              </div>
              <p class="mt-3 mb-0">Detailed Guidance</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 98%">98%</div>
              </div>
            </div>

            <div class="col-md-6">
              <p class="mt-3 mb-0">Empathy</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 95%">95%</div>
              </div>
              <p class="mt-3 mb-0">Leadership</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 98%">98%</div>
              </div>
              <p class="mt-3 mb-0">Own Domain</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 99%">99%</div>
              </div>
              <p class="mt-3 mb-0">English (Professional)</p>
              <div
                class="progress"
                data-anime="left"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 90%">90%</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-5 cv" id="curriculum">
        <div class="container pb-5">
          <h2 class="pt-3 pb-4">Curriculum</h2>

          <div class="row">
            <div class="col-md-6">
              <h3 class="cv-title">Education</h3>

              <div class="cv-item" data-anime="up">
                <h4>Web Developer</h4>
                <h5>2023 - 2026</h5>
                <p><em>Senac Institution</em></p>
                <p>
                  Technical program specialized in software development and
                  enterprise commercial web solutions.
                </p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Computer Technician</h4>
                <h5>2019 - 2023</h5>
                <p><em>IFPE - Garanhuns Campus</em></p>
                <p>
                  Technical program specialized in software and hardware
                  foundations, with a strong focus on Python application
                  development.
                </p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Systems Analysis and Development</h4>
                <h5>2023 - 2026</h5>
                <p><em>Senac Institution</em></p>
                <p>
                  Technical program deeply focused on systems development, data
                  analysis, and advanced database management
                </p>
              </div>
            </div>

            <div class="col-md-6">
              <h3 class="cv-title">Profecional</h3>

              <div class="cv-item" data-anime="up">
                <h4>Web Developer</h4>
                <h5>2023 - 2026</h5>
                <p><em>Senac Institution</em></p>
                <p>
                  Technical program specialized in software development and
                  enterprise commercial web solutions.
                </p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Computer Technician</h4>
                <h5>2019 - 2023</h5>
                <p><em>IFPE - Garanhuns Campus</em></p>
                <p>
                  Technical program specialized in software and hardware
                  foundations, with a strong focus on Python application
                  development.
                </p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Systems Analysis and Development</h4>
                <h5>2023 - 2026</h5>
                <p><em>Senac Institution</em></p>
                <p>
                  Technical program deeply focused on systems development, data
                  analysis, and advanced database management
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="projects" class="section-bg mt-5">
        <div class="container pb-5 pt-5" data-anime="left">

          <h2 class="pb-4">Projects</h2>

          <div id="carouselProjects" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselProjects"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselProjects"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/logoGTazul.png"
                        class="card-img-top"
                        alt="Site My City"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Garanhuns Tour</h5>
                        <p class="card-text">
                          Website developed by me with the purpose of directing
                          tourists to my city. It provides visitors with a
                          user-friendly experience, helping them make informed
                          decisions on where to go and easily find what they
                          need — from local events to the best places to eat,
                          stay, and enjoy leisure activities.
                        </p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="https://garanhunstour.com.br/"
                            target="_blank"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/coming-soon-2550190__340.jpg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">Progressing...</h5>
                        <p class="card-text">Progressing...</p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="http://"
                            target="_blank"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                          <a
                            href="http://"
                            target="_blank"
                            class="btn btn-outline-dark me-3"
                            ><i class="bi bi-github"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/coming-soon-2550190__340.jpg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">Progressing...</h5>
                        <p class="card-text">Progressing...</p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="http://"
                            target="_blank"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item" data-bs-interval="2000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/coming-soon-2550190__340.jpg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">Progressing...</h5>
                        <p class="card-text">Progressing...</p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="..."
                            target="_blank"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/coming-soon-2550190__340.jpg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">Progressing...</h5>
                        <p class="card-text">Progressing...</p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="http://"
                            target="_blank"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                          <a
                            href="http://"
                            target="_blank"
                            class="btn btn-outline-dark me-3"
                            ><i class="bi bi-github"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/coming-soon-2550190__340.jpg"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">Progressing...</h5>
                        <p class="card-text">Progressing...</p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="http://"
                            target="_blank"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselProjects"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselProjects"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>

      <section class="pt-5 pb-5" id="talktome">
        <div class="container">
          <h2 class="pt-3 pb-3">Talk To Me</h2>

          <div class="row">
            <div class="col-md-5">
              <div class="card p-5 shadow border-0" data-anime="up">
                <div class="endereco">
                  <h4><i class="bi bi-geo-alt me-2"></i>Location:</h4>
                  <p>Garanhuns, Pernambuco, Brazil</p>
                </div>

                <div class="email">
                  <h4><i class="bi bi-envelope me-2"></i>E-mail:</h4>
                  <p>orlandofilhodirect@gmail.com</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3941.684988862932!2d-36.477503461561426!3d-8.9088492911846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7070dad6f6ebe41%3A0xa2ebdc10d7864983!2sAv.%20Manoel%20Camelo%20-%20Francisco%20Sim%C3%A3o%20Dos%20Santos%20Figueira%2C%20Garanhuns%20-%20PE!5e0!3m2!1spt-BR!2sbr!4v1770490238362!5m2!1spt-BR!2sbr"
                  width="400"
                  height="300"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                  class="w-100"
                ></iframe>
              </div>
            </div>
            <div class="col-md-7 mt-5 mt-md-0">
              <div class="card p-5 h-100 shadow border-0" data-anime="left">

                <form class="row g-3" action="/send" method="POST">
                  <div class="col-md-6">
                    <label for="name" class="form-label">Name:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Your name"
                    />
                  </div>

                  <div class="col-md-6">
                    <label for="email" class="form-label">E-mail:</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Your e-mail"
                    />
                  </div>

                  <div class="col-12">
                    <label for="message" class="form-label">Message:</label>
                    <textarea
                      type="text"
                      class="form-control"
                      id="message"
                      placeholder="Type your message"
                      name="message"
                      rows="10"
                    ></textarea>
                  </div>

                  <div class="col-12 d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary">
                      Sign in
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
